@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --white: #ffffff;
    --leal: #2a2b3d;
    --hex: #34b0be;
    --hex-ceca: #d1ceca;
    --blue-dark: #03051c; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header{
    background-color: var(--blue-dark);
    min-height: 100vh;
    position: relative;
}

h2{
    color: var(--hex);
    font-size: 1.9rem;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 80px;
}
.nav--menu{
    position: absolute;
    width: 100%;
    background-color: var(--hex-ceca);
    top: 72px;
    left: 0;
    min-height: calc(102vh - 80px);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem 1rem;
    align-items: center;
    z-index: 30;
}

.nav--menu.visible{
    display: flex;
}

.nav--item{
    list-style: none;
}

.nav--link{
    color: var(--blue-dark);
    text-decoration: none;
    font-size: 1.25rem;
    padding: .5rem 1rem;
}

#menu-icon{
    color: var(--white);
}

.header-section{
    padding: 1.5rem;
    margin-top: -3rem;
}

.header-image{
    position: relative;
    max-width: 367px;
    margin: 0 auto;
    align-items: center;
    top: -235px;
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    max-width: 920px;
    margin: 0 auto;
    background-color: var(--leal);
    position: relative;
    top: 31px;
    display: flex;
}

.line{
    height: 2px;
    background-color: var(--white);
    width: 135px;
    position: absolute;
    left: 5%;
    top: 88px;
    margin: 0 auto;
}
.header-presentation{
    color: var(--white);
    position: absolute;
    padding: 0.5rem 1rem;
    text-align: left;
}

.presentation{
    font-size: 1.3rem;
    font-weight: lighter;
}

.presentation-one{
    color: var(--hex);
    font-size: 2.9rem;
    font-weight: bold;
}

.presentation-two{
    color: var(--hex);
    font-size: 1rem;
}


.firs{
    top: -493px;
    left: -6%;
    margin: 0 auto;
    max-width: 340px;
    position: relative;
}

.second{
    top: 200px;
    left: -6%;
    top: -499px;
    margin: 0 auto;
    max-width: 340px;
    position: relative;
}

.third{
    top: -604px;
    left: 1%;
    position: relative;
    display: grid;
    margin: 0 auto;
    max-width: 386px;
    justify-content: flex-end;
}

.social-media{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0 auto;
    top: -606px;
    left: 22px;
    gap: 1rem;
    max-width: 420px;
}

.social-media-icon{
    background-color: var(--hex-ceca);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2.5rem;
    position: relative;
    top: -493px;
    max-width: 500px;
    background-color: var(--leal);
    border-radius: 1rem;
    margin: 1rem auto 0 auto;
    
}

.business-icon{
    background-color: var(--hex-ceca);
    border-radius: 17%;
    width: 64px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section{
    padding: 2rem;
    color: var(--hex);
    position: relative;
    text-align: center;
    top: -400px;
}

.about--text{
    padding: -0.5rem;
    margin: 1rem 0;
    color: var(--white);
    
}

.services-section{
    text-align: center;
    padding: 1.5rem 1rem;
    color: var(--hex);
    top: -400px;
    position: relative;
}

.services-cards{
    background-color: var(--white);
    padding: 1.5rem 1rem;
    color:black;
    font-size: 15px;
    border-radius: 0.1rem;
}

.services--cards-wrapper{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.services-img{
    width: 41px;
    height: 49px;
}

.services-font{
    color: var(--hex-ceca);
    font-size: 0.7rem;
    padding: 1rem;
    margin: 0 auto;
}

.habilies-section{
    padding: 1.5rem;
    color: var(--white);
    text-align: center;
    position: relative;
    top: -400px;
}

.progress--info{
    display: flex;
    justify-content: space-between;
}

.percent{
    color: var(--white);
    font-weight: bold;
}

.percentage{
    color: var(--hex);
}

.progress-wrapper{
    padding: .5rem 0;
}

progress::-webkit-progress-bar{
    background-color: var(--white);
    height: 1.25rem;
    width: 100%;
    border-radius: 1rem;
}

progress{
    width: 100%;
    border-radius: 1rem;
    background-color: var(--hex);
    height: 1.25rem;
    border-radius: 1rem;
}

progress::-webkit-progress-value{
    background-color: var(--hex);
    border-radius: 1rem;
}

progress::-moz-progress-bar{
    background-color: var(--white);
    border-radius: 1rem;
}

.portafolio-section{
    text-align: center;
    position: relative;
    top: -400px;
}


.portafolio-img{
    width: 232px;
    height: 187px;
    padding: 0.5rem;
    position: relative;
    margin: 0 auto;
    max-width: 298px;
}

.portafolio-section-wrapper{
    padding: 1rem 0;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow-x: auto;
}

.contact-section{
    text-align: center;
    padding: 1.5rem 1rem;
    position: relative;
    top: -400px;
}

.contact--section-wrapper{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 530px;
}

.contact-cards{
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    width: 170px;
    height: 119px;
    border-radius: 0.2rem;
    padding: 1rem;
}

.contact-left{
    position: relative;
    left: -26%;
}

.contact-right{
    position: relative;
    left: 29%;
}

.section-footer{
    background-color: var(--leal);
    padding: 3rem;
    margin: 0 -1rem;
    position: relative;
    top: 425px;
    margin-top: -13rem;
}

.footer{
    color: var(--hex);
    padding-right: 15px;
    padding-left: 15px;
}

.p-font{
    font-size: 0.6rem; 
    font-weight: lighter;
    color: var(--hex-ceca);
}

/* SCROLL BODY */

body::-webkit-scrollbar{
    width: 7px;
    background: var(--blue-dark);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--hex-ceca);
    border-radius: 1rem;
}

.nav--link:hover{
    color: var(--hex);
}


/* Responsividad */

@media screen and (min-width: 678px) {
    .nav--menu{

        position: static;
        display: contents;
        background-color: var(--blue-dark);
        justify-content: flex-end;
    }

    .nav--link{
        color: var(--white);
        font-size: 0.7rem;
    }

    #menu-icon{
        display: none;
    }
}


@media screen and (min-width: 900px) {
    .services--cards-wrapper{
        justify-content: center;
        height: 20rem;
        gap: 2rem;
        display: flex;
    }

    .portafolio-section-wrapper{
        justify-content: center;
    }

    .portafolio-img{
        width: 30rem;
        height: 20rem;
    }

    .contact-cards{
        width: 12rem;
        height: 11rem;
        padding: 2rem;
    }

}