@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;700&display=swap');
:root{
    --white: #ffffff;
    --leal: #2a2b3d;
    --hex: #34b0be;
    --hex-ceca: #d1ceca;
    --blue-dark: #03051c; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header{
    background-color: var(--blue-dark);
    min-height: 100vh;
    position: relative;
}

h2{
    color: var(--hex);
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 80px;
    /*box-shadow: 10px 5px 10px 4px ;*/
}
.nav--menu{
    position: absolute;
    width: 100%;
    background-color: var(--white);
    top: 80px;
    min-height: calc(100vh - 80px);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem 1rem;
    align-items: center;
}

.nav--menu.visible{
    display: flex;
}

.nav--item{
    list-style: none;
}

.nav--link{
    color: var(--blue-dark);
    text-decoration: none;
    font-size: 1.25rem;
    padding: .5rem 1rem;
}

#menu-icon{
    color: var(--white);
}

/* SEUDO ELEMENTOS */
/*
.header::before{
    content: "";
    display: block;
    background-color: var(--leal);
    width: 290px;
    max-width: 350px;
    height: 290px;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    left: 27%;
    margin: 0 auto;
}

.header::after{
    content: "";
    display: block;
    width: 341px;
    max-width: 349px;
    height: 84px;
    position: absolute;
    border-radius: 7%;
    top: 58%;
    left: 23%;
    background-color: var(--leal);
    margin: 0 auto;
}
*/

/* Section Presentacion */

.header-section{
    padding: 1.5rem;
}

.header-image{
    position: relative;
    max-width: 367px;
    margin: 0 auto;
    align-items: center;
}

.header-presentation{
    color: var(--white);
    position: absolute;
    padding: 0.5rem 1rem;
    text-align: left;
}

.presentation{
    font-size: 1.3rem;
    font-weight: lighter;
}

.presentation-one{
    color: var(--hex);
    font-size: 2.9rem;
    font-weight: bold;
}

.presentation-two{
    color: var(--hex);
    font-size: 1rem;
}

.header-presentation:nth-child(odd){
    top: 196px;
    left: 4%;
}

.header-presentation:nth-child(2){
    top: 106px;
    left: 3%;
}

.header-presentation:nth-child(4){
    top: 145px;
    left: 64%;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 6.5rem;
    position: relative;
    margin-top: 1rem;
    top: -190px;
    left: 37%;
}

.social-media-icon{
    background-color: var(--hex-ceca);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2.5rem;
    position: relative;
    top: -105px;
    max-width: 500px;
    margin: 1rem auto 0 auto;
    
}

.business-icon{
    background-color: var(--hex-ceca);
    border-radius: 17%;
    width: 64px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section{
    padding: 2rem;
    color: var(--hex);
    position: relative;
    text-align: center;
}

.about--text{
    padding: -0.5rem;
    margin: 1rem 0;
    color: var(--white);
    
}

.services-section{
    text-align: center;
    padding: 1.5rem 1rem;
    color: var(--hex);
}

.services-cards{
    background-color: var(--white);
    padding: 1.5rem 1rem;
    color:black;
    font-size: 15px;
}

.services--cards-wrapper{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.services-img{
    width: 41px;
    height: 49px;
}

.habilies-section{
    padding: 1.5rem;
    color: var(--white);
    text-align: center;
}

.progress--info{
    display: flex;
    justify-content: space-between;
}

.percent{
    color: var(--white);
    font-weight: bold;
}

.percentage{
    color: var(--hex);
}

.progress-wrapper{
    padding: .5rem 0;
}

progress::-webkit-progress-bar{
    background-color: var(--white);
    height: 1.25rem;
    width: 100%;
    border-radius: 1rem;
}

progress{
    width: 100%;
    border-radius: 1rem;
    background-color: var(--hex);
    height: 1.25rem;
    border-radius: 1rem;
}

progress::-webkit-progress-value{
    background-color: var(--hex);
    border-radius: 1rem;
}

progress::-moz-progress-bar{
    background-color: var(--white);
    border-radius: 1rem;
}

.portafolio-section{
    text-align: center;
}


.portafolio-img{
    width: 142px;
    height: 115px;
    padding: 0.5rem;
}

.portafolio-section-wrapper{
    padding: 1rem 0;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.contact-section{
    text-align: center;
    padding: 1.5rem 1rem;
}

.contact--section-wrapper{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.contact-cards{
    background-color: var(--white);
    font-size: 1rem;
}